.list {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  gap: 0 0.5em;
  line-height: 1.75em;
  list-style: decimal inside;
}

.listItem {
  &:nth-child(even) {
    text-align: right;
  }
}

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
