$breakpoint-sm: 36rem;

.catalog {
  padding: 1rem;
  font-size: 1rem;

  @media (min-width: $breakpoint-sm) {
    box-sizing: border-box;
    max-width: 36.25rem;
    padding: 3rem 4rem;
    margin: 0 auto;
    font-size: 1.05rem;
  }
}

.title {
  margin-bottom: 0.395em;
  font-size: 1.5rem;

  @media (min-width: $breakpoint-sm) {
    font-size: 2.25rem;
  }
}

.subtitle {
  margin-bottom: 2em;
  font-size: 1.15rem;
  text-transform: lowercase;
  opacity: 0.5;

  @media (min-width: $breakpoint-sm) {
    margin-bottom: 3em;
    font-size: 1.25rem;
  }
}
