@import 'reset-css';

@import './theming.scss';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--document-background-color);
  color: var(--document-text-color);
  font-family: sans-serif;
}

noscript {
  display: block;
  padding: 0.75rem;
  background-color: #d61822;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
